{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}