{
  "presets": [
    [
      "env",
      {
        "es2015": {
          "modules": false
        },
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}